html {
  min-width: 100%; }

#hidden-cart {
  visibility: hidden;
  color: white;
  text-decoration: none;
  font-size: 30px; }
  #hidden-cart :hover {
    color: lightgreen; }

#hidden-menu {
  visibility: hidden;
  color: white;
  text-decoration: none;
  font-size: 30px; }
  #hidden-menu :hover {
    color: lightgreen; }

.top-bar {
  height: 40px;
  width: 100%;
  background-color: #2a2a2a;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 14px; }

.top-bar a {
  margin-right: 25px;
  text-decoration: none;
  color: #cccccc; }

.top-bar a:hover {
  color: white; }

.header-container {
  height: 144px;
  background-color: black;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.garage-theme-mini {
  visibility: hidden; }

input {
  background-color: #555;
  color: white;
  width: 400px;
  max-height: 40px;
  border: 1px solid black; }

::placeholder {
  color: white;
  padding-left: 15px; }

.header-content {
  width: 100%;
  margin-right: 10%;
  margin-left: 10%; }
  .header-content img {
    padding-right: 20px;
    height: 100px;
    width: 158px;
    float: left; }

.header-cont-right {
  margin-left: 55px; }
  .header-cont-right a {
    padding: 0 3px; }

.header-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header-actions ul a {
    color: white;
    text-decoration: none; }
  .header-actions ul a:hover {
    color: lightgreen; }

.bottom-bar {
  white-space: nowrap;
  overflow: hidden; }
  .bottom-bar a {
    color: white;
    text-decoration: none; }
  .bottom-bar a:hover {
    color: lightgreen; }

.central-banner {
  display: flex;
  height: 520px;
  border: 1px solid red;
  background-color: cornsilk;
  justify-content: center; }
  .central-banner #i-hate-this-photo {
    width: 100%; }
  .central-banner .winter-clear {
    position: absolute;
    top: 20%;
    max-width: 590px;
    max-height: 285px; }
  .central-banner .shop-button {
    position: absolute;
    top: 48%;
    background-color: #c00;
    padding: 15px 40px;
    color: white;
    text-decoration: none; }

.shop-button:hover {
  border: 1px solid black;
  background-color: #c02;
  background-color: #ff4d4d; }

.winter-clearance {
  height: 314px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%; }
  .winter-clearance .winter-image-lineup {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .winter-clearance .winter-image-lineup img {
      height: 10%;
      width: 10%;
      padding-bottom: 30px; }
  .winter-clearance .sale-crap {
    display: flex;
    justify-content: space-around;
    text-align: center; }
    .winter-clearance .sale-crap a {
      color: black;
      font-weight: bold;
      text-decoration: none; }
    .winter-clearance .sale-crap a:hover {
      text-decoration: underline; }
    .winter-clearance .sale-crap a {
      width: 14%; }

.garage-theme {
  height: 282px;
  border: 1px solid green;
  margin-top: 5%; }
  .garage-theme #stupid-jacket {
    float: left;
    width: 20%;
    max-width: 340px;
    margin-left: 10%; }
  .garage-theme #gargage-outlet {
    margin-top: 1%;
    margin-left: 5%; }
  .garage-theme .garage-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 35%; }
    .garage-theme .garage-right a {
      background-color: #00718D;
      padding: 15px 40px;
      border: 1px solid #00718D;
      border-radius: 2px;
      color: white;
      text-decoration: none;
      width: 150px;
      text-align: center; }
    .garage-theme .garage-right a:hover {
      background-color: #00485a; }

.garage-theme-mini {
  margin-top: 5%; }
  .garage-theme-mini #stupid-jacket2 {
    width: 75%;
    height: 75%; }
  .garage-theme-mini #gargage-outlet2 {
    margin-top: 1%;
    margin-left: 5%;
    width: 100%;
    height: 100%; }
  .garage-theme-mini a {
    background-color: #00718D;
    padding: 15px 40px;
    border: 1px solid #00718D;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    width: 150px;
    text-align: center; }
  .garage-theme-mini a:hover {
    background-color: #00485a; }

@media screen and (max-width: 1000px) {
  ul {
    display: none; }

  hr {
    display: none; }

  .bottom-bar {
    display: none; }

  #hidden-cart {
    visibility: visible; }

  #hidden-menu {
    visibility: visible; } }
@media screen and (max-width: 975px) {
  .winter-clear {
    width: 70%;
    height: 50%; } }
@media screen and (max-width: 775px) {
  #logo {
    width: 15%;
    height: auto;
    padding: 0; }

  .header-content {
    display: flex;
    flex-direction: column; }
    .header-content img {
      margin-left: 7%; }
    .header-content input {
      padding: 0 45px; }

  .shop-button {
    width: 80%;
    text-align: center; }

  .winter-image-lineup img {
    min-width: 20%;
    height: auto;
    flex-flow: row wrap; }

  .garage-theme {
    display: none; }

  .garage-theme-mini {
    visibility: visible;
    text-align: center; }
    .garage-theme-mini #fuck-this-btn {
      display: block;
      width: 86%;
      text-align: center; } }
@media screen and (max-width: 495px) {
  .winter-clear {
    width: 350px;
    height: 172px;
    margin-top: 20%; } }

/*# sourceMappingURL=output.css.map */
